@model ABS_v3.Models.SeatViewModel
@{
    ViewBag.Title = "BookSeat";
}

<h2>Book Seat</h2>
@using (Html.BeginForm("BookSeat", "Flight"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    if (ViewBag.ErrorMessages != null)
    {
        foreach (var item in ViewBag.ErrorMessages)
        {
            <p class="alert alert-danger">@item</p>
        }

    }
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FlightName)
        @Html.TextBoxFor(m => m.FlightName, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.FlightName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SectionCLass)
        @Html.TextBoxFor(m => m.SectionCLass, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SectionCLass)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Row)
        @Html.TextBoxFor(m => m.Row, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Row)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Col)
        @Html.TextBoxFor(m => m.Col, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Col)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
